@font-face {
  font-family: 'PressStart';
  src: url("../fonts/PressStart2P.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: none;
    font-family: 'PressStart', sans-serif;
    color: #FFF;
    background-color: #00032d;
}

div#wrapper
{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

div.blackscreen
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #000000;

    animation-name: blackscreen;
    animation-duration: 0.5s;
}

@keyframes blackscreen
{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

article
{
    position: absolute;
    display: flex;
    top: 0;
    left: -100vw;
}

main, aside
{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


button
{
  padding: 10px 20px;
  margin: 20px;
  font-family: 'PressStart', sans-serif;
  background-color: #00032d;
  border: 5px solid #FFF;
  color: #FFF;
  transition: color 0.1s, background-color 0.1s;
}

button:hover
{
  color: #00032d;
  background-color: #FFF;
  transition: color 0.1s, background-color 0.1s;
}

button.selected{
  color: #F00;
  background-color: #FFF;
  border-color: #F00;
}



button.menubutton, button#optionsbutton, button#statsbutton
{
    position: absolute;
    bottom: 15%;
    transform: translate(-50%, -50%);
}

button#playbutton
{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 30%;
  font-size: 2em;
}

button#optionsbutton
{
    left: 25%;
}
button#statsbutton
{
    left: 75%;
}
button#playbutton
{
    left: 50%;
}
button.menubutton
{
    left: 50%;
}

#optionspage
{

}

#statspage
{
display: flex;
justify-content: center;
align-items: center;
}

canvas#canv
{
    position: absolute;
    top: 0;
    left: 0;
}

#block-lines
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /*
    display: flex;
    flex-direction: column-reverse;
    */
    width: 100%;
    box-sizing: border-box;
}

.block-line
{
    display: flex;
    box-sizing: border-box;
    height:1000px;
    width:100%;
}

.gauche, .droite
{
    flex-grow: 1;
    box-sizing: border-box;
    height:100%;
    background-color: blue;
}

.centre
{
    box-sizing: border-box;
    height: 100%;
    width: 90%;
}

.ligne
{
    display:flex;
    box-sizing: border-box;
}

.danger, .passage
{
    flex: 1;
    box-sizing: border-box;
}
{
    background-color: red;
}
.danger img
{
    max-width: 100%;
}


#statspage table
{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
    background-color: #00032d;
    border: 5px solid #FFF;
}

#optionspage section
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#optionspage section button
{

}

#optionspage section button.selected
{

}

button:hover
{
    cursor: crosshair;
}

#spaceship{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 33px;
    height: 93px;
    z-index: 2;
}
