@font-face {
  font-family: 'PressStart';
  src: url("../fonts/PressStart2P.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: none;
    font-family: 'PressStart', sans-serif;
    color: #FFF;
    background-image: url(../img/sky.gif);
    background-repeat: repeat;
}

div#wrapper
{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

div.blackscreen
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #000000;

    animation-name: blackscreen;
    animation-duration: 0.5s;
}

@keyframes blackscreen
{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#pages
{
    position: absolute;
    display: flex;
    top: 0;
    left: -100vw;
}

main, aside
{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#S
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

button
{
  padding: 10px 20px;
  margin: 20px;
  font-family: 'PressStart', sans-serif;
  background-color: #00032d;
  border: 5px solid #FFF;
  color: #FFF;
  transition: color 0.1s, background-color 0.1s;
}

button:hover
{
  color: #00032d;
  background-color: #FFF;
  transition: color 0.1s, background-color 0.1s;
}

button.selected{
  color: #F00;
  background-color: #FFF;
  border-color: #F00;
}



button.menubutton, button#optionsbutton, button#statsbutton
{
    position: absolute;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

button#playbutton
{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 15%;
  font-size: 2em;
}

button#optionsbutton
{
    left: 25%;
}
button#statsbutton
{
    left: 75%;
}
button#playbutton
{
    left: 50%;
}
button.menubutton
{
    left: 50%;
}

#optionspage
{

}

#statspage
{
display: flex;
justify-content: center;
align-items: center;
}

canvas#canv
{
    position: absolute;
    top: 0;
    left: 0;
}

#block-lines
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /*
    display: flex;
    flex-direction: column-reverse;
    */
    width: 100%;
    box-sizing: border-box;
}

.block-line
{
    display: flex;
    box-sizing: border-box;
    height:100vh;
    width:100%;
}

.gauche, .droite
{
    flex-grow: 1;
    box-sizing: border-box;
    height:100%;
    background-color: blue;
}

.centre
{
    box-sizing: border-box;
    height: 100%;
    width: 90%;
}

.ligne
{
    display:flex;
    box-sizing: border-box;
}

.danger, .passage
{
    flex: 1;
    box-sizing: border-box;
}

.danger img
{
    max-width: 100%;
}



@-webkit-keyframes rotating1 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating1 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating1 {
  -webkit-animation: rotating1 35s linear infinite;
  -moz-animation: rotating1 35s linear infinite;
  -ms-animation: rotating1 35s linear infinite;
  -o-animation: rotating1 35s linear infinite;
  animation: rotating1 35s linear infinite;
}


@-webkit-keyframes rotating2 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating2 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating2 {
  -webkit-animation: rotating2 20s linear infinite;
  -moz-animation: rotating2 20s linear infinite;
  -ms-animation: rotating2 20s linear infinite;
  -o-animation: rotating2 20s linear infinite;
  animation: rotating2 20s linear infinite;
}
@-webkit-keyframes rotating3 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating3 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating3 {
  -webkit-animation: rotating3 11s linear infinite;
  -moz-animation: rotating3 11s linear infinite;
  -ms-animation: rotating3 11s linear infinite;
  -o-animation: rotating3 11s linear infinite;
  animation: rotating3 11s linear infinite;
}
@-webkit-keyframes rotating4 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating4 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating4 {
  -webkit-animation: rotating4 15s linear infinite;
  -moz-animation: rotating4 15s linear infinite;
  -ms-animation: rotating4 15s linear infinite;
  -o-animation: rotating4 15s linear infinite;
  animation: rotating4 15s linear infinite;
}
@-webkit-keyframes rotating5 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating5 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating5 {
  -webkit-animation: rotating5 19s linear infinite;
  -moz-animation: rotating5 19s linear infinite;
  -ms-animation: rotating5 19s linear infinite;
  -o-animation: rotating5 19s linear infinite;
  animation: rotating5 19s linear infinite;
}
@-webkit-keyframes rotating6 /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating6 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating6 {
  -webkit-animation: rotating6 22s linear infinite;
  -moz-animation: rotating6 22s linear infinite;
  -ms-animation: rotating6 22s linear infinite;
  -o-animation: rotating6 22s linear infinite;
  animation: rotating6 22s linear infinite;
}



#statspage table
{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
    background-color: #00032d;
    border: 5px solid #FFF;
}

#optionspage section
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#optionspage section button
{

}

#optionspage section button.selected
{

}

button:hover
{
    cursor: crosshair;
}

#spaceship
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#mainpage
{
  display: flex;
  justify-content: center;
}

#titleimg
{
  height: 80%;
}

#bossup
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;

    animation-name: bossup;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bossup
{
    0% {
        top: 100%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 100%;
    }
}

#bossdown
{
    position: absolute;
    top: -100%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;

    animation-name: bossdown;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#bossdown>div
{
    position: relative;
    flex: 1;
    height: 100%;
}


.falling-block
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}
.falling
{
    animation-name: bossdownfall;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes bossdown
{
    0% {
        top: -100M;
    }
    50% {
        top: -50%;
    }
    100% {
        top: -100%;
    }
}
@keyframes bossdownfall
{
    0% {
        top: 5%;
    }
    79% {
        top: 5%;
    }
    80% {
        top: 10%;
    }
    90% {
        top: 10%;
    }
    95% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
