html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

div#wrapper
{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

div.blackscreen
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #000000;

    animation-name: blackscreen;
    animation-duration: 0.5s;
}

@keyframes blackscreen
{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

article
{
    position: absolute;
    display: flex;
    top: 0;
    left: -100vw;
}

main, aside
{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

button.menubutton, button#optionsbutton, button#statsbutton
{
    position: absolute;
    bottom: 25%;
    transform: translate(-50%, -50%);
}

button#optionsbutton
{
    left: 25%;
}
button#statsbutton
{
    left: 75%;
}

button.menubutton
{
    left: 50%;
}

#optionspage
{

}

#statspage
{

}

canvas#canv
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(80px);
}
#statspage table
{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#optionspage section
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#optionspage section button
{

}

#optionspage section button.selected
{

}

button:hover
{
  cursor: pointer;
}

div#follow, div#death
{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: #FF0000;
}
div#follow
{
    top: 25%;
    left: 75%;
    background-color: #FF0000;
}

div#death
{
    top: 25%;
    left: 25%;
    background-color: #0000FF;
}

div#spaceship{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(-50%) translateY(1%);
}
