body
{
    padding:0;
    margin:0;
    overflow: hidden;
}

div
{
    margin: 0;
    padding: 0;
}

.block-line
{
    position: absolute;
    display: flex;
    top: 100vh;
    left: 0;
    box-sizing: border-box;
    height:600px;
    width:100%;

    animation-name: goinD;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes goinD{
    0% {
        top:-100%;
    }
    100% {
        top:100vh;
    }
}

.gauche, .droite
{
    flex-grow: 1;
    box-sizing: border-box;
    height:100%;
    background-color: blue;
}

.centre{
    box-sizing: border-box;
    height:100%;
    width:90%;
    background-color: grey;
}
.ligne{
    display:flex;
    box-sizing: border-box;
}
.bloc{
    flex-grow: 1;
    box-sizing: border-box;
    background-color: red;
}
.passage{
    background-color: green;
}
